.box-hover {
    border: 1px solid #CCC;
    height: 250px;
    margin:  auto;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
    width: 400px;
    
}
.box-hover a{
    text-decoration: none;
}
.box-hover img {
    max-width: 100%;
    transition: all 0.3s;
    opacity: 1;
}
.nut1{
    margin-top: 10%;
    font-size: 30pt;
    color: rgb(202, 128, 26);
}
.box-hover .nut1,
.box-hover .nut2 {
    position: absolute;
    right: -200%;
    width: 100%;
    text-align: center;
}

.box-hover .nut1 {
    top: 0%;
    transition: all 0.5s;
}

.box-hover .nut2 {
    /* top: 45%; */
    transition: all 1s;
}

.box-hover:hover {
    background-color: #FFF;
}

.box-hover:hover img {
    opacity: 0.1;
}

.box-hover:hover .nut1,
.box-hover:hover .nut2 {
    right: 0;
}