table{
    width: 100%;
}
table td{
    width: 16%;
}
*{
    text-decoration: none;
}
.table-header{
    width: 100%;
}
.table-header td {
    background-color: #FF6D6D;
}
.table-header .link-nav{
    width: 16%;
    text-align: center;
    font-size: 32px;
}

.table-header .header-logo img{
    width: 120px;
    height: 120px;
}